@tailwind base;
@tailwind components;
@tailwind utilities;

.react-multi-carousel-list {
	width: 100%;
	margin: 1rem auto;
}

.react-multi-carousel-list>ul {
	gap: 0.3rem;
	padding: 1rem;
	justify-content: space-between;
}

html,
body {
	height: 100%;
	margin: 0;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

footer {
	/* estilos para el footer */
}



@keyframes scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(calc(-500px * 6));
		transform: translateX(calc(-500px * 6));
	}
}